#main-container {
	max-width: 400px;
	padding-top: 6em;
}

.nav {
	background: white;
	font-size: 1.2rem;
}

.navbar-nav .nav-link {
	padding: 0 2rem;
	cursor: pointer;
}

#title .active {
	color: black;
}

footer {
	margin-top: 1em;
	padding-top: 0.5em;
	border-top: 0.1em solid black;
	font-style: italic;
}

#toggleFilterForm {
	cursor: pointer;
}

.notifications {
	display: inline-block;
}

.unreadNotifications {
	margin-left: -0.5em;
	vertical-align: top;
}
